---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import type { PokemonListResponseTs } from "../../interfaces/pokemon-list.response";
import PokemonCard from "@components/pokemons/PokemonCard.astro";

export const getStaticPaths = (async () => {
  const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  const { results } = await resp.json() as PokemonListResponseTs;
  
  return results.map((result, index) => ({
    params: { id: index+1 },
    props: { name: result.name, url: result.url }
  }));
}) satisfies GetStaticPaths;

const { id } = Astro.params;
const { name, url } = Astro.props;

const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`
---

<Layout title=`Pokemon #${id}`>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div>
      <a class="hover:underline text-amber-500" href="/">Regresar</a>
      <h1 class="text-5xl capitalize">{ name }</h1>
    </div>

    <PokemonCard name={name} url={url} isBig />
    <audio controls class="mt-5">
      <source src={audioSrc} type="audio/ogg" />
      Your browser does not support the audio element.
    </audio>
  </section>
</Layout>